<h2>Message list</h2>

<p>
<%= link_to "New Message", new_message_path %>
</p>

<%= paginate @messages %>

<table>
<% @messages.each do |msg| %>
  <tr>
    <td><%= link_to msg.title, message_path(msg) %></td>
    <td><%= msg.created_at.to_s(:short) %></td>
  </tr>
<% end %>
</table>

<%= paginate @messages %>