<h2><%= @message.title %></h2>

<%= simple_format @message.content %>

<h2>Comments list</h2>

<%= form_for [@message, @comment] do |f| %>

  <p>
    <%= f.label :content %>
    <%= f.text_area :content, :required => true %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>

<% @message.comments.each do |comment| %>

  <p><%= simple_format comment.content %> at <%= comment.created_at.to_s(:short) %> by <%= comment.user.display_name %>

    <% if comment.user == current_user %>
      <%# TODO: 修改成 AJAX 版本的刪除 %>
      <%= link_to "Delete", message_comment_path(@message, comment), :method => :delete, :data => { :confirm => "Are u sure?"} %>
    <% end %>
  </p>

<% end %>

